<input type="text" placeholder="Search Exercises" [(ngModel)]="searchExercise">
<div *ngFor="let exercise of exercises| exerciseFilter: searchExercise">
  <p>{{exercise.name}}</p>
</div>

<h1 mat-dialog-title>Exercises</h1>
<input type="text" placeholder="Search Exercises" [(ngModel)]="searchExercise">
<<<<<<< HEAD
<input type="text" placeholder="Search Equipment" [(ngModel)]="searchEquipment">
<!--<input type="checkbox" [(ngModel)]="searchEquipment" ng-click="searchEquipment('Barbell')"/> Barbell</br/>-->
<div *ngFor="let exercise of exercises| exerciseFilter: searchExercise: searchEquipment">
<p>{{exercise.name}}</p>
=======
<div cdkDropList id="exercise-list" cdkDropListConnectedTo="{{ 'workout-' + workoutid }}" *ngFor="let exercise of exercises| exerciseFilter: searchExercise">
<div class="exercise-box" cdkDrag id="{{ 'exercise-' + exercise.id }}">{{exercise.name}}
<button mat-button (click)="addExercise(exercise.id)" class="exercise-add-icon">
<mat-icon>add</mat-icon>
</button>
</div>
>>>>>>> aa89def7d0375a0e4aad0648ab253a65192c30c0
</div>
<!--<div ng-app="Equipment">-->
  <!--<div ng-controller="EquipmentCtrl">-->

    <!--<input type="checkbox" ng-click="includeEquipment('Barbell')"/> Barbell</br/>-->
    <!--<input type="checkbox" ng-click="includeEquipment('Bench')"/> Bench</br/>-->
    <!--<input type="checkbox" ng-click="includeEquipment('Dumbell')"/> Dumbell</br/>-->

    <!--<ul>-->
      <!--<li ng-repeat="exercise in exercises | filter:exerciseEquipFilter">-->
        <!--{{exercises.name}}-->
      <!--</li>-->
    <!--</ul>-->

    <!--&lt;!&ndash;Filter dump: {{colourIncludes}}&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
