<h4>Enter username and password to log in</h4>
<div class="container">
  <div class="body">
      <form [formGroup]="login" action="" (submit)="submitLogin()">
        <mat-form-field>
          <input id="username" matInput placeholder="USERNAME" formControlName="username" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input id="password" matInput placeholder="PASSWORD" formControlName="password" [type]="showPassword.checked ? 'text' : 'password'" required>
        </mat-form-field>
        <br>
        <mat-checkbox class="checkbox" color="primary" #showPassword>Show password</mat-checkbox>
        <div>
          <button id="login" type="submit" mat-button (click)="submitLogin()" [disabled]="!login.valid">Sign In</button>
        </div>
      </form>
      <p class="invalid" *ngIf="invalidSignin">Your sign in was invalid. Please try again.</p>
  </div>
</div>
