mat-form-field{
  width: 300px;
}
button{
  border: 1px #bbb solid;
  margin-top: 20px;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
h4{
  text-align: center;
  margin-top: 70px;
}
.checkbox{
  font-weight: lighter;
}

