@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.primary{
  background-color: #5c6bc0;
  color: #fff;
}
.primary-dark{
  background-color: #26418f;
  color: #fff;
}
.primary-links:hover{
  background-color: #26418f;
  color: #fff;
}


@media print {
  app-root > * {
    display: none;
  }
}

  app-root app-print-layout {
    display: block;
  }

  .primary-light {
    background-color: #8e99f3;
    color: #000;
  }

  .secondary {
    background-color: #ffd54f;
    color: #000;
  }

  .secondary-dark {
    background-color: #c8a415;
    color: #000;
  }

  .secondary-light {
    background-color: #ffff81;
    color: #000;
  }

  .secondary-links:hover {
    background-color: #c8a415;
    color: #000;
  }

