*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-left: 15px;
}
.header{
  margin-top: 5px;
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: flex-start;*/
  cursor: default;
}
.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a{
  text-decoration: none;
  margin-left: 10px;
  height: 100%;
  max-height: 100%;
  padding: 21px 8px 21px;
  transition: 200ms;
  text-transform: uppercase;
  font-size: 15px;
}
