<div mat-card class="example-card">
  <h4 mat-dialog-title>New User Form</h4>
  <div mat-card-content class="container">
    <form [formGroup]="userForm" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="button" mat-dialog-actions>
        <button mat-button (click)="postUser()" class="modal-button" [disabled]="!userForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
