*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.workout-template-page-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 500px auto;
}
.exercise-list-container {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow-y: scroll;
}
.workout-template-container {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-y: scroll;
}
.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.exercise-title{
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 81px 0 68px;
  /*margin: 40px 0 68px;*/
  padding-left: 42px;
}
.exercise-card {
  margin: 0 0 10px 0;
}
.exercise-box {
  width: 100%;
  max-width: 100%;
  padding: 20px 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  height: 30px;
}
.workout-expansion-panels{
  grid-column: 1/3;
  grid-row: 2/3;
}
.new-workout-form{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 80.5% 100px;
  height: 49px;
  margin-top: 28px;
  margin-left: 0px;
}

.workout-submit-button{
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.new-workout-form-input{
  border: none;
  outline: 0;
  font-size: 16px;
  height: 100%;
  /*width: 98%;*/
  grid-column: 1/2;
  background-color: #eee;
  padding-left: 20px;
}
mat-icon:hover{
  transform: scale(1.2);
}
.expansion-panel-div{
  width: 90%;
  margin: 20px 5%;
}
.font-fix{
  text-transform: uppercase;
  font-weight: lighter;
}
mat-panel-title{
  display: flex;
  align-items: center;
}
.workout-delete-icon{
  margin-right: 20px;
}
.sch-workout-div{
  grid-row: 3/4;
  grid-column: 1/3;
}
.font-bold{
  font-weight: bolder;
}
.instruction{
  margin-top: 10px;
}
.new-workout-title{
  margin: 81px 0 3px;
  /*margin: 40px 0 3px;*/
  padding-left: 38px;
}
.workout-title{
  font-weight: bolder;
}
