<div class="workout-template-page-grid-container">
  <div class="exercise-title">
    <p class="font-bold">Exercises</p>
    <p class="instruction">Drag exercises to your custom workouts</p>
  </div>
  <div class="exercise-list-container outer-border">
    <div class="expansion-panel-div font-fix">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let muscleGroup of muscleGroups">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{muscleGroup.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ng-container *ngFor="let muEx of muExList">
              <div cdkDropList id="exercise-card" class="exercise-card" cdkDropListConnectedTo="{{ 'workout-' + workoutid }}" *ngIf="muEx.muId.id==muscleGroup.id">
                <div class="exercise-box font-fix" cdkDrag id="{{ 'exercise-' + muEx.exId.id }}">{{muEx.exId.name}}
                  <button mat-button (click)="addExercise(muEx.exId.id)" class="exercise-add-icon icon-color">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="new-workout-title">
    <p class="workout-title">Create new workout</p>
    <p class="instruction">Name your workout and add exercises</p>
    <form [formGroup]="wtForm" class="new-workout-form">
      <input type="text" class="new-workout-form-input" placeholder="Workout Name" formControlName="name">
      <div class="workout-submit-button primary primary-links" (click)="postWt()">New</div>
    </form>
  </div>
  <div class="workout-template-container outer-border">
    <div class="expansion-panel-div font-fix">
      <mat-accordion>
        <mat-expansion-panel (opened)="selectWt(wt.id)" *ngFor="let wt of wtlist">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{wt.name}}
            </mat-panel-title>
            <button mat-button (click)="removeWorkout(wt)" class="workout-delete-icon icon-color">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            </mat-expansion-panel-header>
            <div cdkDropList class="font-fix" id="{{ 'workout-' + wt.id }}" (cdkDropListDropped)="drop($event, wt)">
              <ng-container *ngFor="let ex of exwtlist" >
                <ng-container *ngIf="ex.wtId!=null">
                  <ng-container *ngIf="ex.wtId.id==wt.id">
                    <div class="exercise-box font-fix exercise-card" cdkDrag cdkDragLockAxis="y">
                      {{ex.exId.name}}
                      <button mat-button (click)="removeExercise(ex)" class="exercise-delete-icon icon-color">
                        <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<div class="sch-workout-div">
  <app-scheduled-workout></app-scheduled-workout>
</div>

