.outer-border{
  border: 1px solid #bbb;
}
.font-fix{
  text-transform: uppercase;
}
.date{
  height: 94%;
  padding-top: 8px;
  width: 23%;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  min-height: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  overflow: auto;
}
.day-title{
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.selector-div{
  grid-row: 1/2;
  grid-column: 2/3;
  margin-right: 25px;
}
.date-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 46px;
}
.sw-exercise-list{
  width: 90%;
  grid-row: 2/3;
  grid-column: 1/3;
}
.day-title{
  margin-left: 15px;
}
.exercise-box {
  width: 100%;
  max-width: 100%;
  padding: 20px 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  height: 30px;
  margin-left: 15px;
  margin-bottom: 5px;
}
mat-icon:hover{
  transform: scale(1.2);
}
.dropdowns{
  font-size: 15px;
}
.printCss {
  border: none;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.print-button-div{
  padding-left: 41%;
  margin-top: 5px;
  width: 100%;
}

