<!--<<<<<<< HEAD-->
<!--<button class="printCss primary"-->
        <!--printTitle="Your Work Out Plan"-->
  <!--[useExistingCss]="true"-->
  <!--printSectionId="print-section"-->
  <!--ngxPrint>Print Your Workout Plan</button>-->
<!--<div id="print-section" class="date-container outer-border">-->
<!--<div class="date-container">-->
  <!--<div *ngFor="let date of dateList" class="date outer-border font-fix">-->
    <!--<div class="day-title">-->
      <!--<span>{{date.name}}</span>-->
      <!--<span >-->
<!--=======-->

<div id="print-section" class="date-container">
  <div class="print-button-div">
    <button class="printCss primary font-fix" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
      Print Your Workout Plan
    </button>
  </div>
  <div class="date-container">
    <div *ngFor="let date of dateList" class="date outer-border font-fix">
      <div class="day-title">{{date.name}}</div>
      <div class="selector-div">
        <form [formGroup]="dropdowns" class="dropdowns">
          <mat-form-field>
            <mat-label>Add a Workout</mat-label>
            <mat-select (selectionChange)="scheduleWorkout($event.value, date)" (click)="refresh()" formControlName="dropdown">
              <mat-option *ngFor="let wt of wtList" [value]="wt.id">
                {{wt.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="sw-exercise-list">
        <ng-container *ngFor="let sw of swList">
          <ng-container *ngIf="sw.dateId.id == date.id">
            <div cdkDropList class="font-fix" id="{{ 'scheduledWorkout-' + sw.id }}">
              <ng-container *ngFor="let ex of exSwList" >
                <ng-container *ngIf="ex.swId!=null">
                  <ng-container *ngIf="ex.swId.id==sw.id">
                    <div class="exercise-box font-fix exercise-card" cdkDrag cdkDragLockAxis="y">
                      {{ex.exId.name}}
                      <button mat-button (click)="removeExercise(ex)" class="exercise-delete-icon">
                        <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
